form {
    width: 85%;
    max-width: 1000px;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(6, max-content);
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    gap: 15px;
    background-color: var(--div-color);
    border-radius: 8px;
}

#dni-container {
    grid-area: 1 / 1 / span 1 / span 2;
}

#dni-container p {
    white-space: nowrap;
}

#name-container {
    grid-area: 2 / 1 / span 1 / span 3;
}

#surname-container {
    grid-area: 2 / 4 / span 1 / span 5;
}

#birthDate-container {
    grid-area: 2 / 9 / span 1 / span 2;
}

#birthDate {
    text-align: center;
}

#address-container {
    grid-area: 3 / 1 / span 1 / span 10;
}

#email-container {
    grid-area: 4 / 1 / span 1 / span 4;
}

#phone-container {
    grid-area: 4 / 5 / span 1 / span 3;
}

#photo-container {
    grid-area: 5 / 1 / span 1 / span 10;
}

#photo-container label{
    margin-right: 20px;
}

#username-container {
    grid-area: 6 / 1 / span 1 / span 5;
}

#password-container {
    grid-area: 6 / 6 / span 1 / span 5;
}

#preview {
    height: 63px;
    width: 63px;
}

#submitImage {
    grid-area: 7 / 10 / span 1 / span 1;
    justify-self: end;
}